/*general*/
#result {
    word-break: break-all;
    width: 100%;
    overflow-y: auto;
}

.notice {
    text-align: center;
}

li {
    overflow-wrap: anywhere;
}

#length-input, #caesar-input, .custom-input {
    width: 7%;
}

/*caesar*/
#caesar-slider {
    width: 100%;
}

td {
    word-wrap: anywhere;
}

/*custom*/