/*general*/
#result {
    word-break: break-all;
    width: 100%;
    overflow-y: auto;
}

.notice {
    text-align: center;
}

li {
    overflow-wrap: anywhere;
}

/*making my widths more mobile friendly*/
#length-input, #caesar-input, .custom-input, #number-of-words-input, #word-length-input {
    width: 7%;
}

/*mobile*/
@media (max-width: 768px) {
    #length-input, #caesar-input, .custom-input, #number-of-words-input, #word-length-input {
        width: 15%;
    }
}

#github-logo {
    max-width: 10%;
    height: auto;
}

/*caesar*/
#caesar-slider {
    width: 100%;
}

td {
    word-wrap: anywhere;
}